{%extends "customer_layout.html"%} {%block title%}Orders{%endblock%} {%block
content%}

<div class="container" style="padding-top: 30px">
  <table class="table is-fullwidth">
    <thead>
      <th>Order ID</th>
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Amount</th>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{order[0]}}</td>
        <td>{{order[1]}}</td>
        <td>{{order[2]}}</td>
        <td>{{order[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{%endblock%}
